<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.wecloud.mybatis.spring.xml.mappers.DepartmentMapper">
    <resultMap id="departmentResultMap" type="xyz.wecloud.mybatis.spring.xml.models.Department">
        <id property="depId" column="dep_id"/>
        <result property="depName" column="dep_name"/>
        <result property="depCTime" column="dep_ctime"/>
    </resultMap>

    <select id="selectDepartmentById" resultMap="departmentResultMap">
        SELECT * FROM TAB_DEP WHERE dep_id = #{id}
    </select>

    <insert id="insertDepartment">
        INSERT INTO TAB_DEP (dep_name, dep_ctime) VALUES(#{depName}, #{depCTime})
    </insert>
</mapper>