<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.wecloud.mybatis.spring.xml.mappers.EmployeeMapper">
    <resultMap id="employeeResultMap" type="xyz.wecloud.mybatis.spring.xml.models.Employee">
        <id property="empId" column="emp_id"/>
        <result property="empName" column="emp_name"/>
        <result property="empSalary" column="emp_salary"/>
        <result property="empAge" column="emp_age"/>
        <result property="depId" column="dep_id"/>
    </resultMap>

    <select id="selectEmployeeById" resultMap="employeeResultMap">
        SELECT * FROM TAB_EMP WHERE emp_id = #{id}
    </select>

    <insert id="insertEmployee">
        INSERT INTO TAB_EMP (emp_name, emp_salary, emp_age) VALUES(#{empName}, #{empSalary}, #{empAge})
    </insert>
</mapper>