<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 配置 Spring 整合 Mybatis 无非就是声明 SqlSessionFactoryBean，以及配置 Mapper 接口和映射文件 -->

    <!-- 配置 SqlSessionFactory -->
    <bean id="sqlSessionFactory1" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource1"/>
    </bean>
    <bean id="sqlSessionFactory2" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource2"/>
    </bean>

    <!-- 配置 MapperScannerConfigurer 可用于指定需要扫描的 Mapper 映射器包路径 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="xyz.wecloud.mybatis.spring.mappers.db1" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory1"/>
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="xyz.wecloud.mybatis.spring.mappers.db2" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory2"/>
    </bean>
</beans>